pipeline/Initial Data Ingestion.json
{
	"name": "Initial Data Ingestion",
	"properties": {
		"activities": [
			{
				"name": "AzureSqltoLake",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "last_cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}.@{pipeline().parameters.cdc_col} > activity('cdc_lookup').output.value[0].cdc",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTables",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "last_cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dynamic_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": "cdc.json"
						}
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"cdc_col": {
				"type": "string"
			}
		},
		"annotations": []
	}
}